<div class="container">
  <div class="row">


    <%= form_for @post, url: { action: "create" } do |f| %>
        <p>
          <%= f.label :text %><br>
          <%= f.text_area :text %>
        </p>

        <p>
          <%= f.submit %>
        </p>
    <% end %>





  </div>
</div>